.chat-main
  .group-info
    .group-info__name       
      テスト
      .group-info__name__member
        Member yuta
    .group-info__edit
      = link_to edit_group_path(@group) do
        Edit

  .message-list
    
    
  .form
    %form.new_message
      .input-box
        %input{type:"text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          =icon('fas', 'image')
          %input{type:"file", class: "input-box__image__file"}
      %input{type:"submit", class: "submit-btn", value: "Send"}
    
      
      
      