* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.chat-main{
  width: calc(100vw - 300px);
  height:100vh;
  background-color: $main-white-color;
  .group-info{
    height:100px;
    border: solid 1px #eeeeee; 
    &__name {
      padding:35px 0 0 40px;
      display:flex;
      justify-content: space-between;
      margin-right: 40px;
    }
    &__member{
      color: $main-gray-color;
      font-size: 12px;
      display: flex;
      margin-left:40px;
      &__lists{
        margin-bottom: 10px;
        margin-left: 5px;
      }
    }
    &__edit{
      font-size: 16px;
      line-height: 40px;
      border: solid 1px skyblue;
      padding:0 20px;
      &__btn{
        color:#38aef0;
        text-decoration: none;
      }
    }
  }
}
  
  

  .message-list{
    height:calc(100vh - 100px - 90px);
    background-color: #fafafa;
    overflow: scroll;
    &__info{
      display: flex;
      padding:35px 0 0 40px;
      &__name{
        margin-right: 10px;
      }
      &__date{
        color: $main-gray-color;
      }
    }
    &__text{
      padding:12px 0 46px 40px;
    }
  }
  
  

  .form{
    height:90px;
    background-color: #d2d2d2;
    padding:20px 40px;
    &__message{
      width: 100%;
      height:50px;
    }
    .new_message{
      height: 50px;
      width: 100%;
      display: flex;
      position: relative;
    }
    &__submit{
      width:100px;
      height:50px;
      padding:0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color:$main-white-color;
      cursor:pointer;
    }
    .hidden{
      display: none;
    }
    .icon{
      position: absolute;
      top:15px;
      right:130px;
    }
  }

